@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using Microsoft.AspNetCore.Http.Connections;
@using System.Net;

@inherits LayoutComponentBase


<RadzenLayout style="height: 100vh; grid-template-areas: 'rz-header rz-header rz-header' 'rz-sidebar rz-body rz-right-sidebar'">

    <CascadingValue Value="this">
        <RadzenBody class="p-0">
            <main>
                <div class="container-internal-page pl-0 pr-0">
                    <article>
                        @Body
                    </article>
                </div>
            </main>
        </RadzenBody>
    </CascadingValue>

</RadzenLayout>


            
@code {


}